/* --------------------------------------------------- Navbar */

.navbar-bg { 
    background: #2d576d;
    padding: 30px;
}

.navbar-brand {
    font-weight: 600;
    font-size: x-large;
    color: #fff;
}

.navbar-brand:hover {
    color: #e0780c;
}

.nav-links {
    padding-left: 59%;
    text-align: left;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #e0780c;
}

.active:active {
    color: #007990;
}

.navbar-toggler {
    color: #fff;
    padding: 0;
}


/* --------------------------------------------------- Carousel */

.carousel {
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
}


/* --------------------------------------------------- Welcome Text */

.welcome-text {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: larger;
    font-weight: 500;
    color: #313d48;
}


/* --------------------------------------------------- Main text colour */
.page-text {
    color: #313d48;
}


/* --------------------------------------------------- Text Box under welcome text */

.opening-text-home {
    margin-top: 30px;
    margin-bottom: 40px;
    padding-left: 15%;
    padding-right: 15%;
    text-align: justify;
    color: #313d48;
}

.opening-text-boxed {
    background: #ebebeb;
    padding-top: 40px;
    padding-bottom: 40px;
    /* margin-left: 7.7%;
    margin-right: 7.7%; */
}


/* --------------------------------------------------- About Me */

.about-me-header,
.quotes-about-me {
    margin-top: 30px;
    margin-bottom: 40px;
    padding-left: 15%;
    padding-right: 15%;
    text-align: justify;
    color: #313d48;
}

.about-page-text {
    padding-right: 15%;
    text-align: justify;
    color: #313d48;
}

/* Code taken from https://mdbootstrap.com/docs/standard/extended/timeline/# 
and is used on the About page. Other styling has been added so this matches the theme */
.timeline-with-icons {
    list-style: none;
  }

.timeline-with-icons .timeline-item {
    position: relative;
    color: #2d576d;
  }

.timeline-with-icons .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
  }

  .timeline-with-icons .timeline-icon {
    position: absolute;
    left: -56px;
    background: #2d576d;
    color: #fff;
    border-radius: 50%;
    height: 31px;
    width: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .line {
    border-left: 1px solid hsl(0, 0%, 90%);
    margin-left: 16%;
  }

/* ---------------------------------------------------------------------------- Page Hero Images, Hyperlink colour and Card Group */

.page-hero-image {
    max-width: 70%;
    max-height: 70%;
    margin-top: 40px;
    margin-bottom: 40px;
    /* Below code to centre images found on W3 Schools - https://www.w3schools.com/howto/howto_css_image_center.asp */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hyperlink-blue {
    color: #265a9b;
}

.hyperlink-blue:hover {
    /* color: #132e50; */
    color: #e0780c;
    text-decoration: none;
}

.card-group {
    padding-left: 15%;
    padding-right: 15%;
}

/* .footer-bg {
    margin-top: 30px;
} */


/* ---------------------------------------------------------------------------- Coding Page */

.code-institute-about,
.graphic-design-about,
.photography-about,
.illustration-about {
    margin-top: 30px;
    margin-bottom: 40px;
    padding-left: 15%;
    padding-right: 15%;
    text-align: justify;
    color: #313d48;
}

.card-text,
.card-title {
    color: #313d48;
}

.break {
    margin-top: 100px;
}

/*.card-group {
        /* Below code to centre images found on W3 Schools - https://www.w3schools.com/howto/howto_css_image_center.asp */
        /* display: block;
        margin-left: auto;
        margin-right: auto; 
 } */

.card-group-bottom {
    margin-bottom: 40px;
}

.web-links {
    color: #265a9b
}

.web-links:hover {
    color: #174071;
}


 /*--------------------------------------------- Contact Us Form */

.hire-text {
    margin-top: 32px;
    text-align: center !important;
}

.contact-header {
    text-align: center !important;
}
  
  /* The below has been taken from EmailJS. 
  I have made some edits to enable this to display as I would like */
  
.field {
    margin-top: 40px;
    margin-left: 13%;
    margin-right: 13%;
    margin-bottom: 30px;
    text-align: center;
}

.field label {
    display: block;
    color: #313d48;
    font-size: 18px;
}
    
.field input {
    min-width: 60%;
    line-height: 1.5;
    align-items: center;
    font-size: 14px;
}

.text-input {
    overflow: auto;
    resize: vertical;
}

/* Send Email Button */
input[type="submit"] {
    padding: 10px 20px;
    font-size: 14px;
    background-color: #2d576d;
    color: #fff;
    border: none;
    border-radius: 12px;
    margin-left: 46%;
    margin-bottom: 30px;
}
    
input[type="submit"]:hover {
    background: #e0780c;
}
  
.message-area {
    height: 15em;
    min-width: 60%;
}

 
/* --------------------------------------------------- Footer */

.footer-bg {
    background: #2d576d;
    padding-top: 15px;
    padding-bottom: 5px;
}

.connect-with-me {
    color: #fff;
    text-align: center;
    margin-bottom: 5px;
}

.social-media {
    text-align: center;
    margin-bottom: 0;
}

.social-media a {
    color: #fff;
    font-size: 25px;
}

.social-media a:hover {
    color: #e0780c;
}

.credits {
    text-align: center;
    font-size: small;
    color: #fff;
    margin-top: 5px;
}


/*--------------------------------------------- Back to top button */

/* The code here for the back to top button has been taken from Material Design for Bootstrap (MDB) v5 & v4 */

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

html {
    scroll-behavior: smooth;
}

/* My Own Code */
.back-to-top-button {
    background: #e0780c;
    color: #fff;
}

.back-to-top-button:hover {
    background: #be6709;
    color: #fff;
}


/*--------------------------------------------- Error pages */

.error404-text {
    padding-top: 10em;
    margin-bottom: 40px;
    padding-left: 15%;
    padding-right: 15%;
    text-align: justify;
    font-size: 25px;
    color: #313d48;
}


.home-button {
    background: #2d576d;
    margin-bottom: 30px;
    margin-left: 15%;
    margin-right: 15%;
}

.home-button:hover {
    background: #e0780c;
}

.button404-text{
    text-decoration: none;
    color: #fff;
}

.button404-text:hover{
    text-decoration: none;
    color: #fff;;
}

.error-page-bg {
    background: url('/assets/images/404-image.jpg') no-repeat center;
    background-size: cover;
    height: 100vh;
}


/* Media Queries */

/*---------------- Laptops */
@media (max-width: 1024px) {
.nav-links {
    padding-left: 49%;
}
}


/*---------------- iPhone and Surface Duo */
@media (max-width: 768px) {
.navbar-bg { 
    padding: 20px;
}

.carousel {
    width: 98%;
    height: 98%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    /* Below code to centre images found on W3 Schools - https://www.w3schools.com/howto/howto_css_image_center.asp */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.welcome-text {
    margin-top: 0;
    margin-left: 15px;
    margin-right: 15px;
}

.page-hero-image {
    max-width: 95%;
    max-height: 95%;
    margin-top: 20px;
    margin-bottom: 20px;
    /* Below code to centre images found on W3 Schools - https://www.w3schools.com/howto/howto_css_image_center.asp */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.opening-text-home,
.quotes-about-me,
.about-page-text,
.code-institute-about,
.illustration-about,
.graphic-design-about,
.photography-about {
    padding-left: 9%;
    padding-right: 9%;
}

.card-group {
    padding-left: 9%;
    padding-right: 9%;
}

.fw-bold {
    padding-right: 9%;
}


.about-page-text {
    padding-right: 18%;
    padding-left: 0;
}

.quotes-about-me {
    padding-left: 8%;
}

.hire-text {
    padding-left: 8%;
}

.field input,
.message-area {
    min-width: 100%;
    min-height: 100%;
}
}


/*---------------- Older Phones */
@media (max-width: 320px), (min-device-width: 320px) and (max-device-width: 480px) and (orientation : portrait) {
.navbar-brand {
    font-size: large;
}
}