/* --------------------------------------------------- Navbar */

.navbar-bg { 
    background: #2d576d;
    padding: 30px;
}

.navbar-brand {
    font-weight: 600;
    font-size: x-large;
    color: #fff;
}

.navbar-brand:hover {
    color: #e0780c;
}

.nav-links {
    padding-left: 59%;
    text-align: left;

}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #e0780c;
}

.active:active {
    color: #007990;
}

.navbar-toggler {
    color: #fff;
    padding: 0;
}


/* --------------------------------------------------- Carousel */

.carousel {
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
}

/* --------------------------------------------------- Welcome Text */

.welcome-text {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: larger;
    font-weight: 500;
}

/* --------------------------------------------------- Text Box under welcome text */



/* --------------------------------------------------- About Me */




/* --------------------------------------------------- Footer */

.footer-bg {
    background: #2d576d;
    padding-top: 15px;
    padding-bottom: 5px;
}

.connect-with-me {
    color: #fff;
    text-align: center;
    margin-bottom: 5px;
}

.social-media {
    text-align: center;
    margin-bottom: 0;
}

.social-media a {
    color: #fff;
    font-size: 25px;
}

.social-media a:hover {
    color: #e0780c;
}

.credits {
    text-align: center;
    font-size: small;
    color: #fff;
    margin-top: 5px;
}